.ze-input-container {
    width: auto;
    display: inline-block;
    &.ze-full {
        width: 100%;
        .ze-input-wrapper{
            width: 100%;
            .ze-input {
                width: 100%;
            }
        }
    }
    .ze-input-message {
        margin-top: 4px;
        font-size: 12px;
        color: #999;
    }
    .ze-input-label {
        display: block;
    }
    .ze-input-wrapper {
        display: inline-block;
        position: relative;
        width: auto;
        border-bottom: 1px solid #ccc;
        &.ze-focus {
            &::after,
            &::before {
                width: 50%;
            }
        }
        &.ze-error {
            &::after,
            &::before {
                width: 50%;
                background: $danger-color;
            }
            &+.ze-input-message {
                color: $danger-color;
            }
        }
        &.ze-required {
            .ze-input-label {
                &::before {
                    content: '*';
                    color: $danger-color;
                    margin-right: 4px;
                }
            }
        }
        &.ze-disabled {
            opacity: 0.6;
            .ze-input{
                cursor: not-allowed;
            }
        }
    }
}

.ze-input-wrapper::after,
.ze-input-wrapper::before {
    content: '';
    display: block;
    width: 0%;
    position: absolute;
    bottom: -1px;
    height: 2px;
    transition: all ease 0.3s;
    background: $primary-color;
}

.ze-input-wrapper::before {
    left: 50%;
}

.ze-input-wrapper::after {
    right: 50%;
}

.ze-input {
    border: none;
    padding: 8px 0;
    display: inline-block;
    font-size: 14px;
    background: transparent;
    &:focus {
        outline: none;
    }
}