.main {
  width: 100%;
  height: 100vh;
  display: flex;
}

.main-control {
  width: $control-width;
  height: 100%;
  float: left;
  background: #fff;
  position: relative;
  box-shadow: -2px 2px 6px #ccc;
  overflow-y: auto;
}

.main-tool-bar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background: #fff;
  width: $toolbar-width;
  box-shadow: -2px 2px 6px #ccc;
  .ze-btn {
    width: $toolbar-width;
    height: $toolbar-width;
    padding: 0;
    border: none;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
  }
}

.main-view {
  width: calc(100vw - #{$control-width});
  float: left;
  height: 100vh;
  background: #ccc;
  overflow: auto;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
}

.main-file-manager {
  position: fixed;
  bottom: 0;
  left: 0;
  width: $toolbar-width;
  .ze-btn {
    width: $toolbar-width;
    height: $toolbar-width;
    padding: 0;
    border: none;
    border-top: 1px solid #ccc;
    font-weight: bold;
  }
}

.main-style-control {
  .main-style-setting {
    height: 250px;
    overflow-y: auto;
  }
}

.main-structure {
  &-group {
    padding: 20px 20px;
    overflow: hidden;
  }
  &-item {
    display: flex;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    outline: 1px solid #ccc;
    &:hover {
      outline: 2px solid $primary-color;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &-span {
    height: 30px;
    margin-right: 10px;
    outline: 1px dashed #aaa;
    background-color: #ECF3FC;
    float: left;
    &:last-child {
      margin-right: 0;
    }
  }
}

.main-selector {
  &-top {
    height: 2px;
    width: 0;
  }
  &-left {
    width: 2px;
    height: 0;
  }
  &-right {
    height: 0px;
    width: 2px;
  }
  &-bottom {
    height: 2px;
    width: 0;
  }
}

.main-selector-top,
.main-selector-bottom,
.main-selector-left,
.main-selector-right{
  position: absolute;
  background-color: #3399ff;
  // transition: all ease 0.3s;
}

.main-canvas {
  outline: none;
}

.main-text {
  &:focus{
    outline: none;
  }
}

.main-text,
.main-button,
.main-cell{
  &.selected {
    outline: 1px solid $primary-color;
    z-index: 200;
    position: relative;
    box-sizing: content-box;
  }
}

.main-context-menu {
  position: fixed;
  background-color: #eee;
  border: 1px solid #999;
  border-radius: 6px;
  z-index: 500;
  overflow: hidden;
  &-item {
    padding: 6px 15px;
    cursor: pointer;
    &:hover {
      background-color: $primary-color;
      color: #fff;
    }
  }
}